/* OpenFactFoodBarCode.css */

.input-group {
   width: 80%;
   margin: 5% auto;
 }
 
 .card {
   width: 250px;
   margin: 10px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   background-color: #fff;
   transition: transform 0.3s ease-in-out; /* Animation de transition douce */
 }
 
 .card:hover {
   transform: translateY(-5px); /* Légère élévation au survol */
 }
 
 .card img {
   width: 100%; /* Largeur à 100% pour remplir complètement le conteneur */
   height: 200px; /* Hauteur fixée pour uniformiser la taille des images */
   object-fit: cover; /* Ajuste l'image pour remplir complètement le conteneur tout en conservant son ratio d'aspect */
   border-radius: 8px 8px 0 0; /* Coins arrondis seulement en haut */
 }
 
 .card-body {
   padding: 10px;
 }
 
 .card-title {
   font-size: 1.2rem;
   margin-bottom: 5px;
 }
 
 .card-text {
   font-size: 0.9rem;
   margin-bottom: 3px;
 }
 
 .btn-primary {
   background-color: #007bff;
   color: #fff;
   border: none;
   padding: 8px 16px;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s;
 }
 
 .btn-primary:hover {
   background-color: #0056b3;
 }
 
 .error-message {
   color: #dc3545;
   font-size: 1.2rem;
   margin-top: 10px;
 }
 